<div class="container signup-form-container">
    <h1>Sign up</h1>
    <form class="form-group" [formGroup]="signUpForm" (ngSubmit)="handleSignup()" autocomplete="off">
        <label for="name" class="form-label">Name:</label>
        <span class="text-danger" *ngIf="signUpForm.get('name')?.invalid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)"> Required*</span>
        <input type="text" formControlName="name" name="name" class="form-control" required>

        <label for="email" class="form-label">Email:</label>
        <span class="text-danger" *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"> Required*</span>
        <span class="text-danger" *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"> Must be in email format*</span>
        <input type="email" formControlName="email" name="email" class="form-control" required>

        <!-- <label for="password" class="form-label">Password:</label>
        <span class="text-danger" 
            *ngIf="signUpForm.get('password')?.invalid && 
            (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)"> Required*
        </span>
        <input type="password" formControlName="password" name="password" class="form-control" required>

        <label for="confirmPassword" class="form-label">Confirm password:</label>
        <span class="text-danger" 
            *ngIf="signUpForm.get('confirmPassword')?.invalid && 
            (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)"> Required*
        </span>
        <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control" required> -->

        <div class="mt-3">
            <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Register</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()"><i class="bi bi-x-circle"></i> Cancel</button>
        </div>
        <div *ngIf="displaySuccess" class="mt-3">
            <h3 class="text-success">{{ signupMessage }}</h3>
            <em>Redirecting to login page...</em>    
        </div>
        <div *ngIf="displayError" class="mt-3">
            <h3 class="text-danger">{{ errorMessage }}</h3>
            <em>Try again, if error persists, please email us.</em>    
        </div>
    </form>
</div>