<div class="container">
    <h1 class="text-center">Add New Recipe</h1>
    <div class="container form-container">
        <form action="" class="form-group">
    
            <label for="" class="form-label">Name: </label>
            <input type="text" class="form-control">
    
            <label for="" class="form-label">Description: </label>
            <input type="text" class="form-control">
    
            <label for="" class="form-label">Cook Time: </label>
            <input type="text" class="form-control">
    
            <label for="" class="form-label">Ingredients: </label>
            <input type="text" class="form-control">
    
            <label for="" class="form-label">Directions: </label>
            <textarea type="text" class="form-control" rows="5"></textarea>

            <label for="" class="form-label">Tags: </label>
            <input type="text" class="form-control" >

            <button role="subtmit" class="btn btn-success">Save</button>
            <button role="button" class="btn btn-secondary" (click)="onBack()">Cancel</button>
        </form>
    </div>
</div>