<div *ngIf="recipe">
    <h1>{{recipe.title}}</h1>
    <hr>
    <div class="container">
        <p><b>Description:</b> {{recipe.description}}</p>
        <p><b>Cooktime:</b> {{recipe.cookTime}} minutes</p>
        <h3>Ingredient List</h3>
        <ul *ngFor="let ingredient of recipe.ingredients">
            <li>{{ingredient}}</li>
        </ul>
        <h3>Directions:</h3>
        <p>{{recipe.directions}}</p>
        <a role="button" class="btn btn-primary" (click)="onBack()"><i class="bi bi-chevron-left"></i> Back</a>
        <a class="btn btn-warning mx-1" role="button" [routerLink]="['edit']">Edit Recipe</a>
        <a class="btn btn-danger mx-1" role="button" (click)="onDelete()">Delete Recipe</a>
    </div>
</div>