<h1>Account Settings</h1>
<hr>
<div>
    <div class="m-4">
        <h3>Color Theme</h3>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch">
            <label class="form-check-label" for="flexSwitch">Dark Mode</label>
        </div>
    </div>
    
    <div class="m-4">
        <h3>Delete All Recipes</h3>
        <button class="btn btn-warning">Delete All Recipes</button>
    </div>
    
    <div class="m-4">
        <h3>Delete Account</h3>
        <button class="btn btn-danger">Delete My Account</button>
    </div>
</div>